[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/glfw3webgpu"]
	path = external/glfw3webgpu
	url = https://github.com/eliemichel/glfw3webgpu
